<div class="category-filters">
  <% @categories.each do |categorie| %>
    <% link_class = (params[:categorie_id] == categorie.id) ? 'selected' : '' %>
    <%= link_to categorie.name, map_index_path(categorie_id: categorie.id) %>
  <% end %>

  <div class="region-filter">
    <%= form_tag(map_index_path, method: :get) do %>
      <label class="filter">
        <%= select_tag 'region_id', options_from_collection_for_select(@regions, 'id', 'name', params[:region_id]), include_blank: true %>
      </label>
      <%= hidden_field_tag :categorie_id, params[:categorie_id] %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
</div>
