<body>
  <header>
    <div class="group">
    <a href="<%= root_path %>" class="logo">Nakamap</a>
      <ul class="navigation">
        <li><a href="<%= map_index_path %>">Explore</a></li>
        <li><a href="#">Challenges</a></li>
        <li><a href="#">About us</a></li>
      </ul>
      <ul class="action">
        <li><a href="#">
            <ion-icon name="language-outline"></ion-icon>
          </a></li>
        <li><a href="#">
            <ion-icon name="log-out-outline"></ion-icon>
          </a></li>
      </ul>
    </div>
  </header>
  <div class="wrapper">
      <div class="mascot-container"></div>
        <div class="speech-bubble">
          <h1>Hello, explorer! <br/><br/>👋 Welcome to Nakamap,<br/>your gateway to the beauty of Japan. I'm here to help you navigate this map and unlock the wonders of different regions.</h1>
        </div>
    <div class="map-container" data-controller="map" data-map-pins-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-boundaries-value="<%= @map_boundaries.to_json %>">
    </div>
  </div>
