<body>
  <header>
    <div class="group">
    <a href="<%= root_path %>" class="logo">Nakamap</a>
      <ul class="navigation">
        <li><a href="<%= map_index_path %>">Explore</a></li>
        <li><a href="#">Challenges</a></li>
        <li><a href="#">About us</a></li>
      </ul>
      <ul class="action">
        <li><a href="#">
            <ion-icon name="language-outline"></ion-icon>
          </a></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
                <ion-icon name="log-out-outline"></ion-icon>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <ion-icon name="log-in-outline"></ion-icon>
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
  </header>
  <div class="wrapper">
      <div class="mascot-container">
        <%= image_tag "mascott.png" %>
      </div>
        <div class="speech-bubble" data-controller="speech">
            <h1 data-speech-target="text">🌏 Hello, explorer! Welcome to Nakamap, your gateway to the beauty of Japan. I'm your guide on this exciting journey.</h1>
            <button data-action="click->speech#next">➤</button>
        </div>
        <div class="map-container" data-controller="map" data-map-pins-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-boundaries-value="<%= @map_boundaries.to_json %>">
          <div class="pin" data-action="mouseover->speech#updateText" data-pin-id="1"></div>
        </div>
    </div>
    <div class="categorie_filter">
      <!-- BEGIN: Displaying the list of categories -->
      <%= render partial: "categories" %>

      <!-- END: Displaying the list of categories -->
    </div>

    </div>
  </div>
