<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="travel, japan, journey, virtual tour">
  <meta name="description" content="Start your journey through Japan!">
  <!-- googlefont import -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,regular,500,700" rel="stylesheet" />

  <title>Nakamap</title>
</head>

<body>
  <header>
    <div class="group">
    <a href="#" class="logo">Nakamap</a>
      <ul class="navigation">
        <li><a href="<%= map_index_path %>">Explore</a></li>
        <li><a href="#">Challenges</a></li>
        <li><a href="#">About us</a></li>
      </ul>
      <ul class="action">
        <li><a href="#">
            <ion-icon name="language-outline"></ion-icon>
          </a></li>

          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
                <ion-icon name="log-out-outline"></ion-icon>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <ion-icon name="log-in-outline"></ion-icon>
          <% end %>
  </li>
<% end %>
      </ul>
    </div>
  </header>
  <section class="section">
  <div class="banner">
    <div class="bg">
      <div class="background">
        <%= image_tag "fujisan.jpg" %>
      </div>
      <div class="content">
        <h2>Begin your <span>journey</span> into Japan's Soul and <span>unveil Japan’s beauty.</span></h2>
        <a href="#" class="btn">Scroll<ion-icon name="chevron-down-outline" style="vertical-align: middle;"></ion-icon></a>
      </div>

    <!-- CTA button -->
    <div class="cta-button">
        <a href="<%= map_index_path %>" class="cta-link">
        EXPLORE NOW!
        </a>
    </div>
    </section>

  <!-- How It Works Section -->
  <section class="how-it-works section">
    <div class="how-it-works-content">
        <div class="how-it-works-content-item">
            <h3>Wondering how to get started?</h3>
            <p>Use the intuitive navigation menu to
                    explore regions, categories, and challenges.
                    Where do you want to go first?</p>
        </div>
        <div class="how-it-works-content-item">
            <h3>Explore Regions</h3>
            <p>Browse through our featured regions,
                    click on pins, and immerse yourself in the culture
                    and beauty of each location.</p>
        </div>
        <div class="how-it-works-content-item">
            <h3>Earn Badges</h3>
            <p>Join challenges and unlock exclusive badges.
                    What challenge will you conquer first?</p>
        </div>
        <div class="start-button">
            <a href="#" class="start-link">
            START NOW
            </a>
        </div>
    </div>
  </section>
  <!-- ionicons icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
