<h1>Edit Profile</h1>

<%= form_for @user, url: dashboards_path, method: :patch, html: { multipart: true } do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= f.label :image_url %>
  <%= f.file_field :image_url %>

  <%= f.submit 'Update Profile' %>
<% end %>