<div class="index-title">
  <h1 class="subtitle">Challenges Index</h1>
</div>

<div class="challenge-bar">
  <%= form_tag(search_challenges_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
    <%= submit_tag "", class: "search-icon fas fa-search" %>
  <% end %>
</div>

<ul class="challenge-list">
  <% @challenges.each do |challenge| %>
    <li>
      <%= link_to challenge_path(challenge) do %>
        <div class="challenge-card">
          <h3 class="challenge-title"><%= challenge.name %></h3>
        </div>
      <% end %>

      <%= button_to "Save", bookmarks_path(challenge_id: challenge.id), method: :post, remote: true %>
    </li>
  <% end %>
</ul>

<hr>
<div class="index-title">
  <h1 class="subtitle">Newest Challenges</h1>
</div>
<% if @challenges.present? %>
  <% latest_challenge = @challenges.last %>
  <ul class="challenge-list">
    <li>
      <%= link_to challenge_path(latest_challenge) do %>
        <div class="challenge-card">
          <h3 class="challenge-title"><%= latest_challenge.name %></h3>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>
