<!DOCTYPE html>
<html>
  <head>
    <title>Nakamap - Begin your journey into Japan's Soul and unveil Japan’s beauty.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=streetview" %>
  <!-- ionicons icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <header>
      <div class="group">
        <a href="/" class="logo">Nakamap</a>
        <ul class="navigation">
          <li><a href="<%= map_index_path %>">Explore</a></li>
          <li><a href="<%= challenges_path %>">Challenges</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="action">
          <li><a href="#"><ion-icon name="language-outline"></ion-icon></a></li>

          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
                <ion-icon name="log-out-outline"></ion-icon>
              <% end %>
            </li>
            <li>
              <%= link_to 'Profile', dashboards_path(current_user) %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <ion-icon name="log-in-outline"></ion-icon>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    </body>
    </html>
